<!DOCTYPE html>
<html>
    <head>
        <title>AMS</title>
        <meta charset="UTF-8" />
        <link rel="static/css/provider_profile.css"/>
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    </head>
    <body>
        <header class="topbar">
            <nav>
                <ul>
                    <li><a href="#">داشبورد</a></li>
                    <li><a href="#">خدمات من </a></li>
                    <li><a href="provider_profile.html">پروفایل</a></li>
                </ul>
            </nav>

            <div class="logo">
                <h2>AMS</h2>
            </div>

        </header>

        <div class="container">
            <div class="profile_card">
                <img src="static/imgs/download.jpg"/><br/>
                <h2>ملیکا افتخاری</h2>
                

            </div>
            <div class="profile_info">

            </div>
        </div>

        <footer>

        </footer>
    </body>
</html>